*
		{
			margin: 0px;
			padding: 0px;
		}
		.choice img
		{
			width: 100px;
			height: 100px;
			margin: 30px;
			border-radius: 10px;
			border: 3px solid black;
		}
		.choice img:hover
		{
			box-shadow: 5px 5px 5px grey;
		}
		.choice
		{
			margin-left: auto;
			font-family: cursive;
			color: red;
			font-size: 30px;
			font-weight: bold;
			text-decoration: none;
			text-align: center;
			text-shadow: 5px 3px 4px #696969;

		}
		figure
		{
			margin: auto;
			margin-right: auto;
			text-align: center;
			width: 240px;
			height: 260px;
		}
		#option
		{
			float: left;

		}
		#main
		{
			width: 100%;
			overflow: auto;
			background-image: url('back.jpg');
			padding-bottom: 25px;
		}
		#show
		{
			width: 100%;
			overflow: auto;
		}
		iframe
		{
			width: 100%;
			overflow: auto;
			height: 600px;
		}
		#footer 
		{
			background-image: url('back.jpg');
			font-family: Lucida, sans-serif;
		
		}
		#footer p
		{
			color: white;
			text-align: center;
			font-size: 24px;
			font-weight: normal;
			font-family: Lucida, sans-serif;
			padding-top: 20px;
			background-color: black;
			padding: 5px;
		}